@import "./webfonts.scss";

:root {
  // Fonts
  --font-primary: Aeonik;
  --font-secondary: Audrey;

  // Background Colors
  --ui01: #ffffff;
  --ui02: #f8f8f8;
  --ui03: #ebedf0;
  --ui04: #f9eed6;
  --ui05: #75b990;
  --ui06: #19486a;

  // Text Colors
  --textRegular: #19486a;
  --textAccent: #75b990;
  --textLight: #ccd1da;
  --textInverse: #ffffff;

  // Button Text
  --textPrimaryButton01: #19486a;
  --textPrimaryHover01: #fff;
  --textPrimaryDisabled01: #fff;

  --textPrimaryButton02: #19486a;
  --textPrimaryHover02: #19486a;
  --textPrimaryDisabled02: #ccd1da;

  --textSecondaryButton: #19486a;
  --textSecondaryHover: #19486a;
  --textSecondaryDisabled: #ccd1da;

  --textLinkButton: #19486a;
  --textLinkHover: #19486a;
  --textLinkDisabled: #ccd1da;

  // Button Background
  --bgPrimaryButton01: #afd9c0;
  --bgPrimaryButtonHover01: #19486a;
  --bgPrimaryButtonDisabled01: #ccd1da;

  --bgPrimaryButton02: #ccd1da;
  --bgPrimaryButtonHover02: #adbbd4;
  --bgPrimaryButtonDisabled02: #ebedf0;

  --bgSecondaryButton: #fff;
  --bgSecondaryButtonHover: #ccd1da;
  --bgSecondaryButtonDisabled: #ebedf0;

  // Button Border
  --borderSecondaryButton: #19486a;
  --borderSecondaryHover: #19486a;
  --borderSecondaryDisabled: #ccd1da;

  --borderLinkButton: #19486a;
  --borderLinkHover: #19486a;
  --borderLinkDisabled: #ccd1da;

  // error
  --errorMessage: #ff8474;

  // Area Background Colors
  --bg01: #afd9c0;
  --bg02: #9dc0c9;
  --bg03: #404670;
  --bg04: #f9eed6;

  // Gradient Colors
  --gradient01: linear-gradient(180deg, #abd9e3 0%, #9ccdd4 100%);
  --gradient-bg: linear-gradient(
    180deg,
    rgba(0, 28, 71, 0.3) 0%,
    #19486a 81.77%
  );

  // Veil Colors
  --modal-bg: rgba(0, 22, 55, 0.85);
  --header-veil: rgba(0, 28, 71, 0.6);
  --video-veil: rgba(0, 28, 71, 0.3);

  // Border Radius
  --radii-xs: 3px;
  --radii-s: 8px;
  --radii-m: 16px;
  --radii-l: 32px;
  --radii-xl: 60px;
  --radii-xxl: 100px;
  --radii-circle: 999px;

  // Spacing
  --spc-xxxs: 8px;
  --spc-xxs: 16px;
  --spc-xs: 24px;
  --spc-s: 32px;
  --spc-m: 40px;
  --spc-l: 48px;
  --spc-xl: 56px;
  --spc-xxl: 64px;
  --spc-xxxl: 72px;
  --spc-4xl: 96px;
  --spc-5xl: 128px;
  --spc-6xl: 256px;

  // Out of Scale Spacing
  --outSpc-20: 20px;
  --outSpc-80: 80px;
  --outSpc-144: 144px;
}
