@font-face {
  font-family: "Aeonik";
  font-weight: 400;
  font-style: normal;
  src: url("../../static/fonts/Aeonik-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Audrey";
  font-weight: 400;
  font-style: normal;
  src: url("../../static/fonts/Audrey-Regular.woff2") format("woff2");
  font-display: swap;
}
