@import "../../../.storybook/globalStyles/media-queries.scss";

.container {
  margin: 0 auto;
  max-width: 296px;
  display: var(--display);
  justify-content: var(--justifyContent);
}

@media (min-width: $small-viewport) {
  .container {
    max-width: 648px;
  }
}

@media (min-width: $medium-viewport) {
  .container {
    max-width: 840px;
  }
}

@media (min-width: $large-viewport) {
  .container {
    max-width: 1128px;
  }
}
